<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Entre em contato</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                    <%= simple_form_for @contact, 
                       :method => 'get', 
                       :url => "contato_do", 
                       :html => {:class => 'form-horizontal' },
                       defaults: { 
                              input_html: { class: 'default_class' } 
                             } do |f| %>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                         
                             <%= f.input :name, 
                                         :required => true, 
                                        
                                         placeholder:"Nome"
                                      %>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                          
                            <%= f.input :email, :required => true,  placeholder:"Email"%>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                       
                            <%= f.input :tel, 
                                        :required => true, 
                                        placeholder:"Telefone"%>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">

                            <%= f.input :message, :as => :text, placeholder:"Mensagem", :required => true%>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <%= f.button :submit, 'Enviar mensagem', :class=> "btn btn-success btn-lg" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>