<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3><%=@footer_endereco.label%></h3>
                    <p><%=@footer_endereco.body%></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Pela Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="<%=@sl.link[:facebook]%>" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="<%=@sl.link[:googleplus]%>" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="<%=@sl.link[:twitter]%>" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="<%=@sl.link[:linkedin]%>" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="<%=@sl.link["dribbble"]%>" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3><%=@box3.label%></h3>
                    <p><%=@box3.body%></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; <%=@box4.label%>
                </div>
            </div>
        </div>
    </div>
</footer>